<form class="ui stacked segment form" action="/company/{{company.id}}/addphone" method="POST" enctype="multipart/form-data">
  <div class="three fields">
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label>Release Year</label>
      <input placeholder="Release Year" type="number" name="releaseYear" required>
    </div>
    <div class="field">
      <label>Price</label>
      <input placeholder="Price" type="number" name="price" required>
    </div>
     <div class="field">
      <label>Image</label>
      <input placeholder="Image" type="file" name="picture" required>
    </div>
  </div>
  <button class="ui blue submit button">Add a Phone</button>
</form>