{{> welcomemenu }}


<section class="ui center aligned middle aligned segment">
  <h1 class="ui center aligned header">
    Welcome to the Smartphones App!
  </h1> 
  <p> Sign up or Log in... </p>
</section>

<section class="ui two column grid segment">
  <div class="ui column">
    <h3 class="ui center aligned header">The Smartphones App currently contains:</h3>
    <div class="ui four statistics">
      <div class="ui big statistic">
        <div class="value">
          <i class="building icon"></i>
          {{totalCompanies}}
        </div>
        <div class="label">
          Companies
        </div>
      </div>
      <div class="ui big statistic">
        <div class="value">
          <i class="mobile icon"></i>
          {{totalPhones}}
        </div>
        <div class="label">
          Phones
        </div>
      </div>
      <div class="ui big statistic">
        <div class="value">
          <i class="user icon"></i>
          {{totalUsers}}
        </div>
        <div class="label">
          Users
        </div>
      </div>
      <div class="ui big statistic">
        <div class="value">
          <i class="comment alternate icon"></i>
          {{totalComments}}
        </div>        
        <div class="label">
          Comments
        </div>
      </div>
    </div>            
  </div>
  <div class="ui column">
    <section class="ui grid segment">
      <img class="ui massive image" src="https://cdn.glitch.com/4272c279-b27a-4d9f-838c-b898c9dab5f9%2Fsmartphone-companies-logo-770x572.png?v=1587128771149"
           />
    </section>
  </div>
</section>

